* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Albert Sans", serif;
  color: #ffffffcd;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

/* button:hover {
  cursor: pointer;
} */

main {
  background-color: #022638;
}
hero {
  display: flex;
  height: 100vh;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: bottom;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

hero * {
  /* color: #ececec; */
  font-weight: 300;
}

hero div {
  text-align: center;
}

#about-me-button {
  border: none;
  background-color: #fff3;
  font-size: 1.5rem;
  padding: 15px 25px;
  border-radius: 5px;
  transition-duration: 300ms;
}

#about-me-button:hover {
  background-color: #fff5;
}

#nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: #242424f8;
}

#nav-bar > * {
  display: flex;
  gap: 0 1.5rem;
}

#nav-bar a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  gap: 0 0.3rem;
  transition-duration: 150ms;
}

#nav-bar a:hover {
  padding: 0.3rem 0 0.7rem 0;
  color: #fff;
  img {
    filter: invert() opacity(1);
  }
}

#nav-bar img {
  filter: invert() opacity(0.8);
}

about {
  height: 100vh;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#picture-pitch {
  display: flex;
  gap: 6.25rem;
}

#portfolio-picture {
  max-width: 325px;
  max-height: 433px;

  /* aspect-ratio: ; */
}

about p {
  margin: 1rem 0;
}

#skills-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#skills {
  display: flex;
  gap: 1rem;
}

#skills div {
  text-align: center;
}

projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 300px;
  height: 275px;
  background-size: cover;
  /* background-color: darkblue; */
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.tools-description {
  height: 227px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.tools-used {
  opacity: 0;
  background-color: rgba(02, 38, 56, 0.7);
  padding: 5px;
  border-top-left-radius: 4px;
  transition-duration: 300ms;
}

.project-card img {
  width: 24px;
}
.project-description {
  height: 56px;
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  background-color: rgba(02, 38, 56, 0.9);
  transition-duration: 300ms;
}

.project-description > h4 {
  margin-bottom: 5px;
}

#eggman > .tools-description {
  background-image: url(img/eggman.png);
}

.project-links {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.project-links > a {
  width: 145px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  transition-duration: 150ms;
  /* font-size: 1rem; */
}

.project-links > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  filter: brightness(1.2);
  color: white;
}

.tools-description:hover {
  .tools-used {
    opacity: 1;
  }
  .project-description {
    height: 117px;
  }
}

/*  */
footer {
  background-color: #242424f8;
  text-align: right;
  line-height: 3rem;
  padding: 3rem;
  font-size: 1.25rem;
}

footer a:hover {
  text-decoration: underline;
}
